body {
  font-family: 'Lato';
  color: #2C3E50;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat';
}

#portfolio-modal-4 h1{
  font-weight: 900;
  font-family: 'Montserrat';
  margin-top: -0.9rem;
  margin-bottom: -2.2rem;
}

#portfolio-modal-4 h5{
  margin-top: 0.6rem;
  margin-bottom: -0.1rem;
}

#profile{
  margin-top:-1.3rem;
}

ul {
    list-style: none;
    padding: 0px;
}

hr.star-light,
hr.star-dark,
hr.star-grey {
  max-width: 15rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.25rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

hr.star-light:after,
hr.star-dark:after,
hr.star-grey:after {
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: '\f005';
  font-family: FontAwesome;
  font-size: 2em;
}

hr.star-light {
  border-color: #fff;
}

hr.star-light:after {
  color: #fff;
  background-color: #000000;
}


hr.star-dark {
  border-color: #2C3E50;
}

hr.star-dark:after {
  color: #2C3E50;
  background-color: white;
}


hr.star-grey {
  border-color: #2C3E50;
}

hr.star-grey:after {
  color: #2C3E50;
  background-color: #F5F5F5;
}

#flipped-icon {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

section {
  padding: 6rem 0;
}

section h2 {
  font-size: 2.25rem;
  line-height: 2rem;
}

@media (min-width: 992px) {
  section h2 {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

.btn-social {
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  line-height: 2rem;
}

.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none;
}

.scroll-to-top a {
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgba(33, 37, 41, 0.5);
  line-height: 3.1rem;
}

#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;
  font-family: 'Montserrat';
}

#mainNav .navbar-brand {
  color: #fff;
}

#mainNav .navbar-nav {
  margin-top: 1rem;
  letter-spacing: 0.0625rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #FF6464; /*#FF6464 - #18BC9C*/
}

#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: #FF6464;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.8rem;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }
  #mainNav .navbar-brand {
    font-size: 1.6em;
    -webkit-transition: font-size 0.3s;
    -moz-transition: font-size 0.3s;
    transition: font-size 0.3s;
  }
  #mainNav .navbar-nav {
    margin-top: 0;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #fff;
    background: #FF6464;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #fff;
    background: #FF6464;
  }
  #mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.3em;
  }
}

header.masthead {
  padding-top: calc(6rem + 72px);
  padding-bottom: 6rem;
}

header.masthead h1 {
  font-size: 2.2rem;
  line-height: 2.2rem;
}

header.masthead h2 {
  font-size: 1.3rem;
  font-family: 'Lato';
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(6rem + 106px);
    padding-bottom: 6rem;
  }
  header.masthead h1 {
    font-size: 3em;
    line-height: 3rem;
  }
  header.masthead h2 {
    font-size: 1.6em;
  }
}

.portfolio {
  margin-bottom: 15px;
}

.portfolio .portfolio-item {
  position: relative;
  display: block;
  max-width: 25rem;
  margin-bottom: 15px;
}

.topics-item {
  position: relative;
  display: block;
  max-width: 25rem;
  margin-bottom: 15px;
}

.portfolio .portfolio-item .portfolio-item-caption {
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background-color: rgba(255, 100, 100, 0.8); /*rgba(24, 188, 156, 0.9)*/
}

.topics-item .topics-item-caption {
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background-color: rgba(255, 100, 100, 0.8); /*rgba(24, 188, 156, 0.9)*/
}

.portfolio .portfolio-item .portfolio-item-caption:hover {
  opacity: 1;
}

.topics-item .topics-item-caption:hover {
  opacity: 1;
}

.portfolio .portfolio-item .topics-item .portfolio-item-caption .portfolio-item-caption-content {
  font-size: 1.5rem;
}

.topics-item .topics-item-caption .topics-item-caption-content {
  font-size: 1.5rem;
}

@media (min-width: 576px) {
  .portfolio {
    margin-bottom: -30px;
  }
  .portfolio .portfolio-item .topics-item{
    margin-bottom: 30px;
  }
}

.portfolio-modal .portfolio-modal-dialog {
  padding: 3rem 1rem;
  min-height: calc(100vh - 2rem);
  margin: 1rem calc(1rem - 8px);
  position: relative;
  z-index: 2;
  -moz-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
}

.portfolio-modal .portfolio-modal-dialog .close-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.portfolio-modal .portfolio-modal-dialog .close-button i {
  line-height: 38px;
}

.portfolio-modal .portfolio-modal-dialog h2 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  .portfolio-modal .portfolio-modal-dialog {
    min-height: 100vh;
    padding: 5rem;
    margin: 3rem calc(3rem - 8px);
  }
  .portfolio-modal .portfolio-modal-dialog h2 {
    font-size: 3rem;
  }
}

#topics, #excursion {
  background-color: #F5F5F5;
}

#workshops, #labweeks {
  background-color: white;
}

#wearables, #playful, #creatures, #arvr, #excursion1 {
  margin-top: 3.8rem;
}


.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #334992;
  color: #fff;
}

.copyright {
  background-color: #1a252f; /* #1a252f #0e153c */
}


.videos{
  padding:56.25% 0 0 0;
  position:relative;
}

.framing{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.framing1{
  position:absolute;
  top:0;
  left:0;
  width:49%;
  height:49%;
}
.framing2{
  position:absolute;
  top:0;
  left:51%;
  width:49%;
  height:49%;
}
.framing3{
  position:absolute;
  top:51%;
  left:0;
  width:49%;
  height:49%;
}
.framing4{
  position:absolute;
  top:51%;
  left:51%;
  width:49%;
  height:49%;
}

.videos2{
  padding:56.25% 0 0 0;
  position:relative;
  margin-bottom: -25%;
}

.pics11{
  position:absolute;
  top:0;
  left:0;
  width:49%;
  height:88%;
}
.pics13{
  position:absolute;
  top:0;
  left:0;
  width:49%;
  height:75%;
}



a {
  color: #FF6464;
}

a:focus, a:hover, a:active {
  color: #FF4444;
}

.words {
  color: #68C6C2;
}

.words:focus, .words:hover, .words:active {
  color: #334992;
}


.btn {
  border-width: 2px;
}

.bg-primary {
  background-color: #000000 !important;
}

.bg-secondary {
  background-color: #334992 !important;
}

.bg-tertiary {
  background-color: #FFFFFF !important;
}

.text-primary {
  color: #FF6464 !important;
}

.text-secondary {
  color: #2C3E50 !important;
}

.btn-primary {
  background-color: #FF6464;
  border-color: #FF6464;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #BA2A27;
  border-color: #A12D2E;
}

.btn-secondary {
  background-color: #2C3E50;
  border-color: #2C3E50;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: #1a252f;
  border-color: #1a252f;
}

.high {
  background-color: #FF6464;
  border-color: #FF6464;
}